{% load static %}
<section id="car-list-area" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 m-auto">
                <div class="car-details-content">


                        <div class="car-preview-crousel">
                        {% for rs in sliderdata %}
                            <div class="single-car-preview">
                                <img style="width: 100%;height: 400px" src="{{ rs.image.url }}" alt="JSOFT">
                            <h2 class="text-center" ><a  href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>

                            </div>
                         {% endfor %}

                        </div>



                </div>
            </div>
        </div>
    </div>
    <!-- Car List Content End -->

    <!-- Sidebar Area Start -->

    <!-- Sidebar Area End -->
    </div>
    </div>
</section>
<!--== Car List Area End ==-->