{% load static %}
<!--== SlideshowBg Area Start ==-->
<section id="slideslow-bg" >
    <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="slideshowcontent">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <h1>HEMEN KİRALA</h1>


                            <script>
                                $(function () {
                                    $("#query").autocomplete({
                                        source: "/search_auto/",
                                        select: function (event, ui) { //item selected
                                            AutoCompleteSelectHandler(event, ui)
                                        },
                                        minLength: 2,
                                    });
                                });

                                function AutoCompleteSelectHandler(event, ui) {
                                    var selectedObj = ui.item;
                                }

                            </script>

                            <div class="book-ur-car">
                                <form action="/search/" method="post">
                                    {% csrf_token %}

                                    <div class=" bookinput-item" style="height: 43px">
                                        <input id="query" name="query" type="text" placeholder="Ne arıyorsunuz?"/>
                                    </div>


                                    <div class="pick-date bookinput-item">
                                        <input id="startDate2" placeholder="Pick Date"/>
                                    </div>

                                    <div class="retern-date bookinput-item">
                                        <input id="endDate2" placeholder="Return Date"/>
                                    </div>

                                    <div class="car-choose bookinput-item">
                                        {% load mptt_tags %}
                                        <select name="catid" class="custom-select">
                                            <option value="0" selected>Tüm Kategoriler</option>
                                            {% recursetree category %}
                                                {% if node.is_leaf_node %}
                                                    <option value="{{ node.id }}">{{ node.title }}</option>
                                                {% endif %}
                                                {% if not node.is_leaf_node %}
                                                    <optgroup label="{{ node.title }}">
                                                    {{ children }}
                                                    </optgroup>

                                                {% endif %}
                                        {% endrecursetree %}

                                            <option value="1">BMW</option>
                                            <option value="2">Audi</option>
                                            <option value="3">Lexus</option>
                                        </select>
                                    </div>

                                    <div class="bookcar-btn bookinput-item">
                                        <button type="submit">Book Car</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== SlideshowBg Area End ==-->