  <!-- Single Sidebar Start -->
                        <div class="single-sidebar">
                            <h3>Hesabım</h3>

                            <div class="sidebar-body">
                                <ul class="recent-tips">
                                    <li class="single-recent-tips">

                                        <div class="recent-tip-body">
                                            <h4><i class="fa fa-user"></i><a href="/user">Profilim</a></h4>

                                        </div>
                                    </li>

                                    <li class="single-recent-tips">

                                        <div class="recent-tip-body">
                                            <h4><i class="fa fa-car"></i><a href="#">Kiralama Geçmişim</a></h4>


                                        </div>
                                    </li>

                                    <li class="single-recent-tips">

                                        <div class="recent-tip-body">
                                            <h4><i class="fa fa-comment"></i><a href="/user/comments">Yorumlarım</a></h4>

                                        </div>
                                    </li>

                                    <li class="single-recent-tips">

                                        <div class="recent-tip-body">
                                            <h4><i class="fa fa-heart"></i><a href="#">Favorilerim</a></h4>

                                        </div>
                                    </li>

                                     <li class="single-recent-tips">

                                        <div class="recent-tip-body">
                                            <h4><i class="fa fa-key"></i><a href="/logout">Çıkış</a></h4>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single Sidebar End -->